nav {
  background-color: #4056A1;
  height: 120px;
  border: solid;
  border-color: #4056A1;
  border-width: 24px;
  font-family: Bungee
}

.navSpan {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  font: Bungee;
  font-size: 20px;
  color: #FFFFFF;
} 

div#tittle {
  
}

div#rightTittle { 

}