.new-tweet {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 246, 228);
  width: 90vw;
  margin: 20px auto;
  border-radius: 15px;
  padding: 20px;
}

.tweetForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

button {
  background-color: #4056A1;
  font-family: Bungee;
  display: flex;
  justify-content: flex-end;
  color: white;
}


button:hover {
  cursor: pointer;
}

textarea {
  border: none;
  border-bottom: 3px solid #616161;
  outline: none;
  background-color: rgb(255, 246, 228);
}

.buttonCounter {
  display: flex;
  justify-content: space-between;
  background: transparent;
  font-size: 20px;
  margin-top: 14px;
}

.counter {
  font-family: Bungee;
  color: #616161;
  font-size: 20px;
}

h2 {
  color: #000000;
  font-family: Source Sans Pro;
  font-size: 20px;
}

label {
  color: #000000;
  justify-content: flex-start;
  font-size: 20px;
}

.tweet-header {
  font-size: 20px;
}

.error {
  color:red;
  text-align: center;
  border: 3px solid red;
  border-radius: 15px;
  display: none;
  font-weight: bold;
  font-size: 20px;
}