/* under 768 for phone */

/* tablet styles */
@media (min-width: 768px) {
  
}

/* desktop styles */
@media (min-width: 1024px) {
  .top-header {
    background-color: #4057a1;
    padding: 170px;
    margin: 75px;
    height: 500px;
    width: 45%;
    margin-right: 150px;
    margin-top: 120px;
  }

  body {
    display:flex;
    background-color: rgb(255, 246, 228);
    justify-content: space-around;
    margin-top: 120px;
  }

  .container {
    background-color:rgb(255, 246, 228);
    padding: 20px;
    width: 100%;
  } 

  .tweet-box {
    border: 3px solid black;
  }

  .tweet-bottom {
    border-top: 3px solid #4056A1;
  }

  textarea {
    border-bottom: 3px solid #4056A1;
  }  

  nav {
    background-color: #4056A1;
    height: 120px;
    border: solid;
    border-color: #4056A1;
    border-width: 24px;
    font-family: Bungee;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .navSpan {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 24px;
    margin-bottom: 24px;
    font: Bungee;
    font-size: 20px;
    color: rgb(255, 246, 228);
  }
}
