.tweet-box{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: rgb(255, 246, 228);
  width: 90vw;
  margin: 20px auto;
  /* border: 4px solid #616161; */
  min-height: 200px;
  border-radius: 15px;
  padding: 20px;
}

.tweet-box:hover{
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.tweet-top {
  display: flex;
  justify-content: space-between;
  color: black;
}

.tweet-actual {
  display: flex;
  justify-content: space-between;
  color: black;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 20px;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
  color: black;
  border-top: 3px solid #616161;
  font-size: 20px;
}

.dynamic-buttons {
  color: #616161;
}

.fa-solid.fa-heart:hover {
  color: rgb(255, 0, 111);
  cursor: pointer;
}

.fa-solid.fa-flag:hover {
  color: rgb(255, 153, 0);
  cursor: pointer;
}

.fa-solid.fa-retweet:hover {
  color: rgb(44, 220, 0);
  cursor: pointer;
}

.author {
  color:rgb(0, 153, 255);
  font-size: 20px;
}

.author:hover {
  color: rgb(20, 44, 177);
  cursor: pointer;
}

.article-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.article-header img {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}